.estoque-header{
    width: 90%;
    margin: 5px auto;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    background-color: #3992B8;
}

.estoque-header h1 {
    color: aliceblue;
    font-size: 1.4em;
}